<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbk.dao.BannerMapper">
  <resultMap id="BaseResultMap" type="com.kbk.model.Banner">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="cover" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="created_time" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="update_time" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="update_by" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, cover, url, status, created_time, update_time, update_by
  </sql>

<!-- 后台，查找banner列表 -->
  <select id="selectBannerList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from banner
  </select>

<!-- 前台 -->
  <select id="selectBannerByStatus" parameterType="java.lang.Boolean" resultMap="BaseResultMap">
        select id,cover from banner
        where status = #{status,jdbcType=BIT}
  </select>



  <insert id="insert" parameterType="com.kbk.model.Banner">
    insert into banner (id, cover, url, 
      status, created_time, update_time, 
      update_by)
    values (#{id,jdbcType=BIGINT}, #{cover,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{createdTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, 
      #{updateBy,jdbcType=VARCHAR})
  </insert>


  <insert id="insertSelective" parameterType="com.kbk.model.Banner">
    insert into banner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

</mapper>