<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbk.dao.MessageMapper">
  <resultMap id="BaseResultMap" type="com.kbk.model.Message">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="work_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="tourist_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="BIT" />
      <arg column="role_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="created_time" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="updated_time" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="contents" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reply_id" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List">
    id, work_id, tourist_name, status, role_id, created_time, updated_time, contents,
    reply_id
  </sql>

  <!-- 前台，游客留言的方法 -->
  <insert id="insertMessage" parameterType="com.kbk.model.Message">
    insert into message (id, work_id, tourist_name,
      status, role_id, created_time,
      updated_time, contents, reply_id
      )
    values (#{id,jdbcType=BIGINT}, #{workId,jdbcType=BIGINT}, #{touristName,jdbcType=VARCHAR},
      #{status,jdbcType=BIT}, #{roleId,jdbcType=BIGINT}, #{createdTime,jdbcType=BIGINT},
      #{updatedTime,jdbcType=BIGINT}, #{contents,jdbcType=VARCHAR}, #{replyId,jdbcType=BIGINT}
      )
  </insert>



  <!-- 前台，查询全部类容 -->
  <select id="selectByWorkId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from message where work_id = #{workId,jdbcType=BIGINT}
  </select>


  <!-- 前台, 查询评论 -->
  <select id="selectComment" resultMap="BaseResultMap">
    select work_id, tourist_name, created_time, contents from message
  </select>

  <!-- 前台，查询留言 -->
  <select id="selectReply" resultMap="BaseResultMap">
    select tourist_name, role_id, created_time, contents, reply_id from message
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from message
    where id = #{id,jdbcType=BIGINT}
  </delete>



  <update id="updateByPrimaryKey" parameterType="com.kbk.model.Message">
    update message
    set work_id = #{workId,jdbcType=BIGINT},
      tourist_name = #{touristName,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      role_id = #{roleId,jdbcType=BIGINT},
      created_time = #{createdTime,jdbcType=BIGINT},
      updated_time = #{updatedTime,jdbcType=BIGINT},
      contents = #{contents,jdbcType=VARCHAR},
      reply_id = #{replyId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>